
body {
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
    margin: 0;
    padding: 0;
    color: #333;
  }
  
  .container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    text-align: center;
    color: #2662d1; 
  }
  
  h2 {
    color: #337357; 
  }
  
  form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
  }
  
  input {
    padding: 10px;
    font-size: 1rem;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  button {
    padding: 10px;
    font-size: 1rem;
    background-color: #7a434e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  button:hover {
    background-color: #d03e59; 
  }
  
  .btns {
    width: 20%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

   
  #patientList {
    list-style-type: none;
    padding: 0;
  }
  
  #appointmentList {
    list-style-type: none;
    padding: 0;
  }

  #patientList li {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  #appointmentList li {
    background-color: #f1f1f1;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #patientList button {
    background-color: #ffd23f;
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  #appointmentList button {
    background-color: #ffd23f; 
    border-radius: 3px;
    padding: 5px 10px;
    font-size: 0.9rem;
    cursor: pointer;
  }
  #patientList button.edit {
    background-color: #1e0227;
  }
  
  
  #appointmentList button.edit {
    background-color: #1e0227; 
  }
  #patientList button.delete {
    background-color: #ee4266; 
  }

  

  
  #appointmentList button.delete {
    background-color: #ee4266;
  }

  #appointmentList button:hover {
    opacity: 0.8;
  }
  
  #patientList button:hover {
    opacity: 0.8;
  }
  
  
  #transactionsList button:hover {
    opacity: 0.8;
  }
  

  input:focus {
    border-color: #337357; 
    outline: none;
  }
  
  #clearAllButton {
    padding: 10px;
    background-color: #337357;
    color: white;
    border: none;
    border-radius: 5px;
    margin-top: 20px;
    cursor: pointer;
  }
  
  #clearAllButton:hover {
    background-color: #2b5c45; 
  }
  